@{
    ViewBag.Title = "Edit Student";
}
<table><tr><td height="10px"></td></tr></table>

<table cellpadding="4" cellspacing="4" width="70%" align="center" style="background-color: skyblue; border:solid 2px red; padding-top:20px;">
    <tr><td colspan="3" style="background-color:gray; font-size:18pt; font-weight:bold; height:30px; text-align:center;">Edit Student Information</td></tr>
    <tr>

        <td style="text-align:right;width:40%">Student ID</td>
        <td><input type="text" ng-model="students.studentID" />  </td>
    </tr>
    <tr>

        <td style="text-align:right;">Name</td>
        <td><input type="text" ng-model="students.name" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">City</td>
        <td>
            <select name="dropdown" ng-model="students.city" data-ng-options="x.cityname as x.cityname for x in CityLists"></select>
            {{students.city}}
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">DOB</td>
        <td><input type="date" ng-model="students.dob" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Gender</td>
        <td>
            <input type="radio" ng-model="students.gender" value="Male" />Male
            <input type="radio" ng-model="students.gender" value="FeMale" />FeMale
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">Mark</td>
        <td><input type="text" ng-model="students.mark" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">MobileNo</td>
        <td><input type="tel" ng-model="students.mobileNo" />  </td>
    </tr>
    <tr>
        <td style="text-align:right;">Qualification</td>
        <td>
            @*<select multiple="multiple" ng-model="City1" data-ng-options="x.cityname for x in CityLists" value="{{x.id}}" ng-selected="{{City1.indexOf(x.id.toString())!=-1}}">{{x.cityname}}></select>
                {{City1}}*@
            @*<select multiple="" name="multiple" id="id" ng-model="City1">
                    <option ng-repeat=" x in CityLists" value="{{x.cityname}}">{{x.cityname}}</option>
                </select>
                {{City1}}*@
            <select multiple="multiple" ng-model="students.qualification">
                <option ng-repeat="x in qualifications" value="{{x.qid}}">
                    {{x.type}}
                </option>
            </select>
            {{students.qualification}}
            @*<select multiple="multiple" ng-model="City1">
                    <option ng-repeat="x in CityLists" value="{{x.cityname}}">
                        {{x.cityname}}
                    </option>
                </select>*@
        </td>
    </tr>
    @*<tr>
            <td style="text-align:right;">Hobbies</td>
            <td>
                <label ng-repeat="x in Student.hobbies">
                    <input type="checkbox" ng-model="x.hobbies" />
                    <label>{{x.name}}</label>
                </label>
            </td>
        </tr>*@
    <tr>
        <td style="text-align:right;">Role</td>
        <td>
            @*<input type="checkbox" ng-model="Student.selectedAll" ng-click="checkAll()" />Check All*@
            <span ng-repeat="r in roles">
                <input type="checkbox" ng-model="r.Selected" />
                <span>{{r.name}}</span>
            </span>
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">Tag</td>
        <td>
            @*<tags-input ng-model="tags" tags-change-to="myTags"></tags-input>*@
            <tags-input ng-model="students.Tag" placeholder="Add a Name" use-strings="true" on-tag-removed="tagRemoved($tag)" min-length="1" max-length="10">
                <auto-complete min-length="1" source="loadNames($query)" debounce-delay="0" max-results-to-show="5"></auto-complete>
            </tags-input>
            <span>Model: {{students.Tag}}</span>
            <span>Log: {{log}}</span>
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">Single Select Tag</td>
        <td>
            <ui-select multiple ng-model="students.multipleDemo.colors" theme="select2" use-strings="true" ng-disabled="disabled" style="width: 300px;">
                <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="color in availableColors | filter:$select.search">
                    {{color}}
                </ui-select-choices>
            </ui-select>
            <p>Selected: {{students.multipleDemo.colors}}</p>
        </td>
    </tr>
    <tr>
        <td style="text-align:right;">Multiple Select Tag</td>
        <td>
            <ui-select multiple ng-model="students.multipleDemo.colors2" theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false" style="width: 300px;" title="Choose a color">
                <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="color in availableColors | filter:$select.search">
                    {{color}}
                </ui-select-choices>
            </ui-select>
            <p>Selected: {{students.multipleDemo.colors2}}</p>

        </td>
    </tr>
    <tr>
        <td></td>
        <td style="padding-left:7.5%">
            <input type="button" value="Save" ng-click="save()" />
            <br />
            <div>{{error}}</div>
        </td>
    </tr>

</table>


